td{
    border: brown 1px solid;
    padding: 15px;
    width: 25%
}

table{
    border: darkorange 2px solid;
    width: 60%;
    padding: 3px;
    position: relative;
    left: 20%;
    color: white;
}

#tablehead{
    font-size: larger;
    padding: 10px;
}

body{
    background-color: black;
}

.balance{
    text-align: center;
}