tr:nth-child(odd){
    background-color: lightgray;
}

tr:nth-child(even){
    background-color: whitesmoke;
}

th{
    background-color: black;
    color: lightgray;
    padding: 12px;
    border-radius: 5px;
}

table{
    width: 60%;
    padding: 35px;
    background-color: cornflowerblue;
    position: relative;
    left: 20%;
}

td{
    padding: 25px;
    border: grey 1px solid;
    border-collapse: collapse;
}