<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>fox club</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">

</head>

<body>
    <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/">Information</a></li>
    </ul>

    <img src="greenfox.png" height="200" width="200">

    <div>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</div>

    <h2>Known tricks</h2>

    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>

</body>

</html>