<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>fox club</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">

</head>

<body>
    <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/index">Information</a></li>
    </ul>

    <img src="greenfox.png" height="200" width="200">

    <div>
        <p th:text="|This is ${fox.getFoxName()}. Currently living on ${fox.getFood()} and ${fox.getDrink()}. He knows 2 tricks.|"></p>
    </div>

    <h2>Known tricks</h2>

    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>

    <h3>already known foxes</h3>

    <ul th:each="onefox : ${foxes}">
        <li><p th:text="|${onefox.getFoxName()} eating ${onefox.getFood()} drinking ${onefox.getDrink()}|"></p></li>
    </ul>

</body>

</html>