<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>fox club</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">

</head>

<body>
    <ul>
        <li><a href="/login">Login page</a></li>
        <li><a href="/index">Information of your Fox</a></li>
        <li><a href="/nutrition-store">Nutrition Store</a></li>
        <li><a href="/trick-center">trick center</a></li>
    </ul>

    <img src="greenfox.png" height="200" width="200">

    <div>
        <p th:text="|This is ${fox.getFoxName()}. Currently living on ${fox.getFoxFood()} and ${fox.getFoxDrink()}. ${fox.getFoxName()} knows 2 tricks.|"></p>
    </div>

    <h2>Known tricks</h2>

    <ul th:each="trick : ${fox.getTricks()}">
        <li th:text="${trick}"></li>
    </ul>

    <h3>Foxes already playing</h3>

    <ul th:each="onefox : ${foxes}">
        <li><p th:text="|${onefox.getFoxName()} eating ${onefox.getFoxFood()} drinking ${onefox.getFoxDrink()} and know(s) ${onefox.getTricks()}|"></p></li>
    </ul>

</body>

</html>