<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>fox club login</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">

</head>

<body>

    <h1>
    Welcome to Programmer Fox Club!
    </h1>

    <br>

    <div>
        Please provide a name so you can associate that with your pet!
    </div>

    <form th:method="post" th:action="@{/login}">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="name">
        <button type="submit" value="submit">GO</button>
    </form>

</body>

</html>