<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>fox club trick center</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">

</head>

<body>

    <ul>
        <li><a href="/login">Login page</a></li>
        <li><a href="/index">Information of your Fox</a></li>
        <li><a href="/nutrition-store">Nutrition Store</a></li>
        <li><a href="/trick-center">trick center</a></li>
    </ul>

    <form th:method="post" th:action="@{/trick-center.html}">
        <label for="Trick">Trick: </label>
        <select id="Trick">
            <option th:each="trick : ${tricks}" th:value="${trick.name()}" th:text="${trick.name()}"></option>
        </select>
        <button type="submit" value="submit">GO</button>
    </form>

</body>

</html>