body {
    font-weight: 100;
    color: #1c242c;
}

.container {
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #d8baea;
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
}

.content-box {
    min-width: 30%;
    display: flex;
    border: 2px dotted rgba(92, 25, 126, 0.582);
    background-color: pink;
    border-radius: 10px;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

h3 {
    font-size: 34px;
    margin: 20px;
}

.list select {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    color: #566573;
    width: 200px;
}

.selected p {
    margin: 10px 30px;
    font-size: 20px;
}

.selectedMovie {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}