<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>

<body>

    <h1>Todos for today</h1>


    <table>

        <th>

            <tr>
                <td>id</td>
                <td>todo</td>
                <td>urgent</td>
                <td>done</td>
            </tr>

        </th>

        <tr th:each="todo : ${todos}">

            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.urgent}"></td>
            <td th:text="${todo.done}"></td>

        </tr>

    </table>

</body>

</html>