<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My basic webshop</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<table>
    <thead>
    <h1>my shop</h1>
    <h3>available items</h3>
    </thead>
    <button type="submit" class="button">only available</button>
    <button type="submit" class="button">cheapest first</button>
    <button type="submit" class="button">contains nike</button>
    <button type="submit" class="button">average stock</button>
    <button type="submit" class="button">most expensive available</button>
</table>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity on Stock</th>
    </tr>
    </thead>
    <tr th:each=" items : ${shopItems}">
        <td><span th:text="${items.name}"></span></td>
        <td><span th:text="${items.description}"></span></td>
        <td class="right"><span th:text="${items.getPrice2Decimal()} + ' ' + ${items.currency}"></span></td>
        <td class="right"><span th:text="${items.quantityOfStock}"></span></td>
    </tr>

</table>

</body>
</html>