<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My basic webshop</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<table>

    <thead>
    <tr>
        <td class="h1">
            <a href="/webshop">my shop</a>
            <form action="/search" method="post">
                <input class="search" name="name" placeholder="search..." type="search">
                <button type="submit" class="searchbutton">Search</button>
            </form>
        </td>
    </tr>
    <tr><br>
        <td class="h2">welcome to my continuously evolving webshop
        </td>
    </tr>
    </thead>

    <tr>
        <td>
            <a class="button" href="/onlyavailable">only available</a>
            <a class="button" href="/priceOrder">cheapest first</a>
            <a class="button" href="/contains">contains nike</a>
            <a class="button" href="/averagestock">average stock</a>
            <a class="button" href="/highestprice">most expensive available</a>
        </td>
    </tr>
</table>

<table class="maintable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity on Stock</th>
    </tr>

    </thead>
    <tr th:each=" items : ${shopItems}">
        <td><span th:text="${items.name}"></span></td>
        <td><span th:text="${items.description}"></span></td>
        <td class="right"><span th:text="${items.getPrice2Decimal()} + ' ' + ${items.currency}"></span></td>
        <td class="right"><span th:text="${items.quantityOfStock}"></span></td>
    </tr>

</table>


</body>
</html>