<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Submit New Post</title>
    <link href="/style.css" rel="stylesheet" type="text/css">

</head>

<body>

<h1>
    Submit new post
</h1>

<hr>

<h3>
    <a href="/reddit">trending posts</a>
</h3>

<hr>

<form th:method="post" th:action="@{/new-post}">

    <table>

        <tr>

            <td><label for="title">Title:</label></td>
            <td><input type="text" name="title" id="title"></td>

        </tr>

        <tr>

            <td><label for="url">URL:</label></td>
            <td><input type="text" name="url" id="url"></td>

        </tr>

        <tr>

            <td colspan="2">
                <button type="submit" value="submit"><img src="/button2.png"><br>submit</button>
            </td>

        </tr>

    </table>

</form>

</body>

</html>