body {
    background: blue;
}

table {
    border-collapse: collapse;
    width: 75%;
    background-color: lightgray;
}

td {
    padding: 3%;
    border: gray 2px solid;
    color: grey;
}

th {
    background: black;
    color: whitesmoke;
    padding: 3%;
    text-align: left;
}

tbody>tr:nth-of-type(even) {
    background-color: lightsalmon;
}

tbody>tr>td:nth-of-type(2n)::before {
    content: "$ ";
}