body {
    background: #3e94ec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    width: 75%;
    background-color: #ebebeb;
    overflow: hidden;
    border-radius: 5px;
}

td {
    padding: 4%;
    border: #9ea7af 1px solid;
    border-radius: 5px;
    color: #898d92;
}

th {
    background: black;
    color: whitesmoke;
    padding: 4%;
    text-align: left;
    border-bottom: #9ea7af 2px solid;
    font-weight: normal;
}

tbody>tr:nth-of-type(even) {
    background-color: #ffffff;
}

tbody>tr>td:nth-of-type(2n)::before {
    content: "$ ";
}