body {
    background-color: rgb(27, 26, 26);
}

button {
    margin: 10px;
    padding: 0px;
    border: none;
    height: 50px;
    background-color: black;
    border-radius: 3px;
    font-size: 20px;
}

.icon {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.text {
    height: 50px;
    width: 150px;
    line-height: 50px;
    display: none;
}

button:hover .icon::after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #000000;
    border-width: 5px;
    margin-top: -5px;
}

button:hover .text {
    display: inline-block;
}

button[data-action="delete"] .text {
    color: white;
}

button[data-action="delete"]:hover {
    background-image: linear-gradient(to right, black 25%, red 25%);
}

button[data-action="confirm"]:hover {
    background-image: linear-gradient(to right, black 25%, green 25%);
}

button[data-action="delete"]:hover .text {
    color: white;
}

button[data-action="delete"]:hover .icon {
    color: red;
}

button[data-action="confirm"] .text {
    color: white;
}

button[data-action="confirm"]:hover .icon {
    color: green;
}