body{
    background-color: darkcyan;
    color: aquamarine;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aquamarine;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aquamarine;
}

h5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aquamarine;
}

hr{
    border: aquamarine 1px dotted;
}

a{
    text-decoration: none;
    color: aquamarine;
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aquamarine;
    text-align: center;
}

tr{
    border: aquamarine 1px solid;
}

td{
    padding: 10px 60px;
    border: aquamarine 1px solid;
    border-radius: 5px;
    border-collapse: collapse;
}

form{
    display: flex;
    justify-content: center;
    color: aquamarine;
    padding: 25px;
}

button{
    background-color: darkcyan;
    border: darkcyan 1px solid;
    border-radius: 3px;
    color: aquamarine;
    padding: 10px 25px;
}

button:hover {
    color: mediumaquamarine;
    font-weight: bold;
}

img{
    height: 100px;
}
