body {
    background-color: rgba(47, 255, 23, 0.23);
    position: relative;
    left: 15%;
    right: 15%;
    width: 70%;
}

.h1 {
    color: rgb(46, 176, 7);
    border-bottom: rgb(46, 176, 7) 2px solid;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.button {
    background-color: rgb(46, 176, 7);
    border-radius: 5px;
    border: rgb(46, 176, 7) 2px outset;
    color: whitesmoke;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: center;
    margin-right: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: green;
    color: white;
}
a{
    text-decoration: none;
}

table {
    position: relative;
    left: 10%;
}

td {
    padding: 15px;
    width: 25%;
}

td.right {
    text-align: right;
}

thead {
    font-size: x-large;
    padding: 15px;
    margin: 10px;
}

.maintable tr:nth-child(even) {
    background-color: limegreen;
}

